<div class="main">
<div *ngFor="let item of details | async" class="p-5">
    <div class="card" style="width:50vw; margin-left: 22vw;margin-right: 25vw;">
        <div class="card-header">
          <!-- <i class="fa-solid fa-circle-info"></i> -->
          <button class="btn btn-link p-0" style="float: right;color: white;"  *ngIf="!editing" (click)="editing = true"><i class="fa-solid fa-pen"></i></button>

          <span class="btn btn-link p-0 ms-2" style="float: right; color: white;"  *ngIf="editing" (click)="editing = false"><i class="fa-solid fa-circle-xmark"></i></span>
          <span class="btn btn-link p-0 ms-2" style="float: right; color: white;"  *ngIf="editing" (click)="updateDesc(item.CompounrDescription)">Save</span>
         
        </div>
        <div class="card-body text-center" >
          <h5 class="card-title">{{item.CompoundName}}</h5>
          <img class="card-img" [src]="item.strImageSource" [alt]="item.strImageAttribution" height="200px" style="width:fit-content;">
          <p class="card-text" *ngIf="!editing">{{item.CompounrDescription }}</p>
          <div class="mb-3" *ngIf="editing">
            <textarea class="form-control" rows="3" [value]="item.CompounrDescription" (input)="item.CompounrDescription = $event.target.value;"></textarea>
          </div>
         
        </div>
        <div class="card-footer" style="background-color: black; color: whitesmoke;">
          {{item.dateModified}}
        </div>
      </div>
</div>
</div>